{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'bodega/icons/yelp.svg' %}">
  <title>Stock&Store</title>
  <link rel="stylesheet" href="{% static 'bodega/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bodega/icons/font/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'bodega/style.css' %}">
</head>
<body>

  <!-- linea de arriba -->
    <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid" style="background-color: indigo;">
        <a href="{% url 'index' %}" class="navbar-brand text-white">
        <!-- imagen y contenido de encabezado  -->
            <i class="fs-2 bi-yelp"></i><span class="fs-2">Stock&Store</span>
        </a>
        <div class="dropdown bottom-0 m-3 rounded-pill usuario">
            <a href="#" class="d-flex align-items-center text-decoration-none 
            dropdown-toggle text-white" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="bi-person-circle fs-2"></i>
                <span class="d-none d-sm-inline mx-1">
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% else %}
                        <a href="{% url 'login' %}">Iniciar Sesion</a> 
                    {% endif %}
                </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a>
            </div>
        </div>
  </nav>

  <div class="container mt-3" >
    <div class="content" style="margin-top: 150px;">

        <table class="table table-striped">
            {% if pais %}
            <th>Pais</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for p in pais %}
            <tr>
                <td>{{p.nombrePais}}</td>
                <td><a href="{% url 'eliminar_pais' id=p.idPais %}" class="btn btn-danger">Eliminar</a></td>
                <td><a href="{% url 'modificar_pais' id=p.idPais %}" class="btn btn-primary">Modificar</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </table><br><br>

        <table class="table table-striped">
            {% if ciudad %}
            <th>Ciudad</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for c in ciudad %}
            <tr>
                <td>{{c.nombreCiudad}}</td>
                <td><a href="{% url 'eliminar_ciudad' id=c.idCiudad %}" class="btn btn-danger">Eliminar</a></td>
                <td><a href="{% url 'modificar_ciudad' id=c.idCiudad %}" class="btn btn-primary">Modificar</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </table><br><br>

        <table class="table table-striped">
            {% if sexo %}
            <th>Sexo</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for s in sexo %}
            <tr>
                <td>{{s.detalleSexo}}</td>
                <td><a href="{% url 'eliminar_sexo' id=s.idSexo %}" class="btn btn-danger">Eliminar</a></td>
                <td><a href="{% url 'modificar_sexo' id=s.idSexo %}" class="btn btn-primary">Modificar</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </table><br><br>

        <table class="table table-striped">
            {% if rubro %}
            <th>Rubro</th>
            <th>Eliminar</th>
            <th>Modificar</th>
            {% for r in rubro %}
            <tr>
                <td>{{r.descRubro}}</td>
                <td><a href="{% url 'eliminar_rubro' id=r.idRubro %}" class="btn btn-danger">Eliminar</a></td>
                <td><a href="{% url 'modificar_rubro' id=r.idRubro %}" class="btn btn-primary">Modificar</a></td>
            </tr>
            {% endfor %}
            {% endif %}
        </table>

      </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
  <script src="{% static 'bodega/script.js' %}"></script>
  
</body>
</html>