.colorletras{
    color:aliceblue;
}
.letra-menu{
    color:white;
    text-decoration: none;
    transition: .3s;
    line-height: 3em;
}
.letra-menu:hover{
    font-size: larger
}
.boton{
    background-color: indigo;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    color: aliceblue;
    width: 80px;
}
.link{
    color:plum ;
    text-decoration:none;
    transition: .2s;
}
.link:hover{
    color: indigo;
}
.card{
    color: mediumpurple;
    border: 1px black;
    height: 250px!important;
    margin: 20px;
    transition: .03s;
}
.card:hover{
    border: 3px indigo solid;
}

.sidebar{
    height: 100%;
    width: 20%;
    max-width: 220px;
    background-color: indigo;
    position: fixed!important;/*Elemento*/
    z-index:1; /*Establece prioridad en aparición*/
    overflow:auto; /*Activa la barra de navegación en caso de ser necesaria*/
}

.selected{
    background-color: aliceblue !important;
    padding-top: 0px !important;
     color: indigo !important;
}
.usuario{
    width: auto;
    border: 3px white solid;
    padding: 2px 20px 5px;
    align-self: center;
}

.contenido{ /*Container a la derecha del sidevar*/
    background-color:rgb(239, 218, 255);
    padding: 5px;
  }
    @media (max-width: 575.98px) {/*Cambia el tamaño de cotenido si la ventana es pequeña*/
        .contenido {
            margin-left: 20% !important;
        }
    }
    @media (min-width: 576px ) { /*fija el margen con la sidebar en pantalla grande*/
        .contenido {
            margin-left: 220px;
            
        }
    }
    @media (min-width: 576px ) {/*fija el tamaño del sidebar en pantalla grande*/
        .sidebar {
            width: 220px !important;
            
        }
    }

    
