.colorletras{
    color:aliceblue;
}
.letra-menu{
    color:white;
    text-decoration: none;
    transition: .3s;
    line-height: 3em;
}
.letra-menu:hover{
    font-size: larger
}
.boton{
    background-color: indigo;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    color: aliceblue;
    width: 80px;
}
.link{
    color:plum ;
    text-decoration:none;
    transition: .2s;
}
.link:hover{
    color: indigo;
}
.card{
    border: 1px black solid;
    width: 180px;
    height: 200px;
    margin: 20px;
}