.colorletras{
    color:aliceblue;
}
.letra-menu{
    color:white;
    text-decoration: none;
    transition: .3s;
    line-height: 3em;
}
.letra-menu:hover{
    font-size: larger
}
.boton{
    background-color: indigo;
    border-radius: 10px;
    border-color: white;
    border-width: 2px;
    color: aliceblue;
    width: 80px;
}
.link{
    color:plum ;
    text-decoration:none;
    transition: .2s;
}
.link:hover{
    color: indigo;
}

.img-red{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
#carouselExampleDark ,#carouselExampleSlidesOnly{
    width: 100%;
    height: 400px;
    overflow: hidden;
    align-items: center;
  }
  
  #carouselExampleDark , #carouselExampleSlidesOnly .carousel-item img {
    width: auto;
    height: auto;
  }

  

.card{
    width: 14rem !important;
    margin: 20px;
    transition: .03s;
    background-color:ghostwhite !important;
}
.card:hover{
    border: 3px indigo solid;
}
.boton-card{
    background-color:white;
    border: 2px indigo solid;
    color: indigo;
    transition: .1s;

}
.boton-card:hover{
    background-color: indigo;
    color: white;
}
.imagen{
    margin-top: 5px;
}
.imagen-modal{
    width: 300px;
    height: auto;
    margin-left: 80px;
}

.sidebar{ /*Crea la barra laterar en sesión de usuario*/
    height: 100%;
    width: 20%;
    max-width: 220px;
    background-color: indigo;
    position: fixed!important;/*Elemento*/
    z-index:1; /*Establece prioridad en aparición*/
    overflow:auto; /*Activa la barra de navegación en caso de ser necesaria*/
}

.selected{/*Destaca la página seleccionada del sidevar*/
    background-color: aliceblue !important;
    padding-top: 0px !important;
     color: indigo !important;
}
.usuario{ /*Atributos del enlace a usuario en sesión*/
    width: auto;
    border: 3px white solid;
    padding: 2px 20px 5px;
    align-self: center;
}

.contenido{ /*Container a la derecha del sidevar*/
    background-color:rgb(239, 218, 255);
    padding: 5px;
  }

    @media (max-width: 575.98px) {/*Cambia el tamaño de cotenido si la ventana es pequeña*/
        .contenido {
            margin-left: 20% !important;
        }
    }
    @media (min-width: 576px ) { /*fija el margen con la sidebar en pantalla grande*/
        .contenido {
            margin-left: 220px;
            
        }
    }
    @media (min-width: 576px ) {/*fija el tamaño del sidebar en pantalla grande*/
        .sidebar {
            width: 220px !important;
            
        }
    }
    

    img {
        max-width: 100%;
    }
    img {
        vertical-align: middle;
        border-style: none;
    }
    /* About Me 
    ---------------------*/
    .about-text h3 {
      font-size: 45px;
      font-weight: 700;
      margin: 0 0 6px;
    }
    @media (max-width: 767px) {
      .about-text h3 {
        font-size: 35px;
      }
    }
    .about-text h6 {
      font-weight: 600;
      margin-bottom: 15px;
    }
    @media (max-width: 767px) {
      .about-text h6 {
        font-size: 18px;
      }
    }
    .about-text p {
      font-size: 18px;
      max-width: 450px;
    }
    .about-text p mark {
      font-weight: 600;
      color: #20247b;
    }
    
    .about-list {
      padding-top: 10px;
    }
    .about-list .media {
      padding: 5px 0;
    }
    .about-list label {
      color: #20247b;
      font-weight: 600;
      width: 88px;
      margin: 0;
      position: relative;
    }
    .about-list label:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 11px;
      width: 1px;
      height: 12px;
      background: #20247b;
      -moz-transform: rotate(15deg);
      -o-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
      margin: auto;
      opacity: 0.5;
    }
    .about-list p {
      margin: 0;
      font-size: 15px;
    }
    
    @media (max-width: 991px) {
      .about-avatar {
        margin-top: 30px;
      }
    }
    
    .about-section .counter {
      padding: 22px 20px;
      background: #ffffff;
      border-radius: 10px;
      box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    }
    .about-section .counter .count-data {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .about-section .counter .count {
      font-weight: 700;
      color: #20247b;
      margin: 0 0 5px;
    }
    .about-section .counter p {
      font-weight: 600;
      margin: 0;
    }
    mark {
        background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
        background-size: 100% 3px;
        background-repeat: no-repeat;
        background-position: 0 bottom;
        background-color: transparent;
        padding: 0;
        color: currentColor;
    }
    .theme-color {
        color: #fc5356;
    }
    .dark-color {
        color: #20247b;
    }
    

    
