{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'bodega/icons/yelp.svg' %}">
  <title>Stock&Store</title>
  <link rel="stylesheet" href="{% static 'bodega/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'bodega/icons/font/bootstrap-icons.css' %}">
  <link rel="stylesheet" href="{% static 'bodega/style.css' %}">
</head>
<body>

  <!-- linea de arriba -->
  <nav class="navbar bg-body-tertiary fixed-top">
    <div class="container-fluid" style="background-color: indigo;">
      <a href="{% url 'index' %}" class="navbar-brand text-white">
        <!-- imagen y contenido de encabezado  -->
          <i class="fs-2 bi-yelp"></i><span class="fs-2">Stock&Store</span>
      </a>

      <!-- boton de arriba -->
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation" style="border-color: aliceblue;">
        <span class="bi-list fs-3"></span>
      </button>
  
      <!-- recipiente del costado -->
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="background-color: mediumslateblue;">
        <div class="offcanvas-header">
          <!-- titulo de recipiente del costado -->
          <h5 class="offcanvas-title fs-2" id="offcanvasNavbarLabel" style="color:white;"><i class="fs-2 bi-yelp"></i>Stock&Store</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="letra-menu">
              <a href="{% url 'index' %}" style="text-decoration: none; color:white;"><i class="bi-house"></i> Inicio</a>
            </li>
            <li class="nav-item">
                <a class="letra-menu" href="{% url 'nosotros' %}">Nosotros</a>
            </li>
            <li class="nav-item">
              <a class="letra-menu" href="{% url 'contactanos' %}">Contáctanos</a>
            </li>
          </ul>
          <form class="d-flex mt-3" role="search">
            <input class="form-control me-2" type="search" placeholder="Búsqueda" aria-label="Search">
            <button class="boton" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </div>
  </nav>
  <!-- Modal, especie de ventana flotante -->
  <form action="{% url 'inicio' %}">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <i class="bi-yelp fs-1"></i><h1 class="modal-title fs-5" id="exampleModalLabel">Stock&Store</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
          <form action="{% url 'inventario' %}"><!--Redirige página a inventario.html cuando se presiona "iniciar sesión" -->
            <!-- Cuadrado de recepcion de informacion con un comentario abajo -->
              <div class="mb-3">
                <label for="correo" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="correo" aria-describedby="emailHelp">
                <label for="correo" class="warningReq">Campo obligatorio.</label>
                <label for="correo" class="warningReq" id="msgCorreo">Correo electrónico no válido.</label>
                <label id="emailHelp" class="form-text">Guardamos tus datos con los más altos estándares de Seguridad.</label>
              </div>
              <div class="mb-3">
                <label for="pass" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="pass">
                <label for="pass" class="warningReq">Campo obligatorio.</label>
              </div>
              <!-- boton de check a recordar -->
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordarme</label>
              </div>
              <div class="mb-3 text-center">
                  ¿Aún no tienes una cuenta? <a href=".{% url 'registrarse' %}" class="link">Registrate Aquí</a> <br>
                  <a href="#" class="link">¿Olvidaste tu contraseña?</a>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" onclick="return checkForm()" class="btn btn-primary">Iniciar Sesión</button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <div class="container" style="margin-top:5rem">
    <div class="card mx-auto" style="max-width: 500px;">
        <div class="card-header text-center">
            <h2>Iniciar Sesión</h2>
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'login' %}" class="mx-auto" style="max-width: 400px;">
              {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Usuario :</label>
                    {{ form.username }}
                    <label for="username" class="warningReq">Campo obligatorio.</label>
                    <label for="username" class="warningReq" id="msgCorreo">Correo electrónico no válido.</label>
                </div>
                <div class="mb-3">
                    <label for="pass" class="form-label">Contraseña: </label>
                    {{ form.password }}
                    <label for="pass" class="warningReq">Campo obligatorio.</label>
                </div>
                <!-- Botón de recordar -->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Recordarme</label>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
                <div class="mb-3 text-center">
                    ¿Aún no tienes una cuenta? <a href="{% url 'registrarse' %}" class="link">Regístrate Aquí</a> <br>
                    <a href="#" class="link">¿Olvidaste tu contraseña?</a>
                </div>
                {% if form.errors %}
                    <div class="alert alert-danger mt-3">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </form>
        </div>
    </div>
  </div>
  <script src="{% static 'bodega/js/bootstrap.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="{% static 'bodega/script.js' %}"></script>
  
</body>
</html>